body{
    text-align: center;
    margin: 0%;
    padding: 0%;
    background-color: white;
    align-items: center;
    width: auto;
}
div{
    border: 3px solid gray;
    width: 200px;
    margin: 5px;
    padding: 8px;
    margin-left: 100px; 

    
}
form{
    border: 3px solid black;
   margin: 0px;
    
}
.d1{
    border: 3px solid black;
    
}
button{
    background-color:  orange;
    border: none;
    border: 3px solid gray;
    width: 218px;
    margin: 5px;
    padding: 8px;
    margin-left: 50px;
}
button:hover{
      background-color: yellow;
      color: blue;
}
a{
    text-decoration: none;
    color: blue;
    font-size: 20px;
}
header{
    background-color: black;
    color: white;
    margin: 0%;
    padding: 1px;
    padding-bottom: 0;
    padding-top: 1px;
    
}
i{
    padding-right: 10px;
}
div:hover{
    background-color: skyblue;
    color:white;
}
input{
    border: 3px solid gray;
    width: 200px;
    margin: 5px;
    padding: 8px;
    margin-left: 50px;
}
h1{
    text-shadow: 3px 3px gray;
    padding: 5px;
}
input:hover{
    border-color: blue;
}
a:hover{
    border: 2px solid blue;
    border-radius: 10px;
}
footer{
    padding: 1em;
    padding-top: 30px;
}
